:root {
  --primary-1: hsl(233, 26%, 24%);
  --primary-2: hsl(136, 65%, 51%);
  --primary-3: hsl(192, 70%, 51%);

  --neutral-dark-1: hsl(233, 8%, 62%);
  --neutral-dark-2: hsl(220, 16%, 96%);
  --neutral-light-1: hsl(0, 0%, 98%);
  --neutral-light-2: hsl(0, 0%, 100%);
  --default-padding: 1.75rem;
  --shadow: 0 0.15rem 3rem rgba(0 0 0 / 0.15);
  --rounded: 0.25rem;
  --tr: all 0.25s linear;
  --mw: 70rem;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  list-style: none;
  border: none;
  background-color: transparent;
  font-weight: 300;
}

html {
  font-size: 112.5%; /* 1rem = 18px as per style guide */
}

/* Utilities */
.desktop-only {
  display: none;
}
.hide-el {
  position: absolute;
  z-index: -100;
  width: 0;
  height: 0;
  pointer-events: none;
  top: -1000%;
}

.container {
  width: 100%;
  max-width: var(--mw);
  margin: 0 auto;
}

/* NAVBAR SECTION -- mobile UI */

nav {
  background-color: var(--neutral-light-2);
  box-shadow: var(--shadow);
}

.nav {
  padding: calc(var(--default-padding) * 0.75) var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list {
  background-color: var(--neutral-light-2);
  box-shadow: var(--shadow);
  gap: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--tr);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -85%);
  transform-origin: top right;
  top: 50%;
  width: 100%;
}

.nav-list > li {
  color: var(--primary-1);
  font-weight: 400;
  cursor: pointer;
  transition: var(--tr);
}

.nav-list > li:hover {
  color: var(--primary-3);
}

/* styles for buttons and navbar visibility */

#hamburger-btn,
#close-btn {
  cursor: pointer;
  transition: var(--tr);
  display: block;
  transform-origin: center;
}

#hamburger-btn {
  opacity: 0.5;
  scale: 1;
}

#hamburger-btn:hover {
  opacity: 1;
  scale: 1.05;
}

#close-btn:hover {
  rotate: 360deg;
}

#close-btn.menu--open,
#hamburger-btn.menu--closed {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  pointer-events: all;
  top: unset;
  transition: all 0.25s;
}

#close-btn.menu--closed,
#hamburger-btn.menu--open {
  position: absolute;
  z-index: -100;
  width: 0;
  height: 0;
  pointer-events: none;
  top: -1000%;
  transition: all 0.25s;
}

.nav-list.menu--open {
  scale: 1;
  opacity: 1;
  z-index: 0;
  width: 70vw;
  padding: calc(1.5 * var(--default-padding));
  rotate: 0deg;
  border-radius: var(--rounded);
}

.nav-list.menu--closed {
  scale: 0;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
  top: 0;
  rotate: 90deg;
  border-radius: calc(100 * var(--rounded));
}

.cta {
  background-image: linear-gradient(
    to right,
    var(--primary-2),
    var(--primary-3)
  );
  padding: calc(0.4 * var(--default-padding)) var(--default-padding);
  border-radius: calc(10 * var(--rounded));
  color: var(--neutral-light-2);
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--tr);
}

.cta:hover {
  opacity: 0.6;
  scale: 1.05;
  box-shadow: var(--shadow);
}

/* ABOUT SECTION */
.about {
  color: var(--primary-1);
  background-color: var(--neutral-dark-2);
  padding: calc(2 * var(--default-padding)) var(--default-padding);
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: calc(0.5 * var(--mw));
  margin: var(--default-padding) auto;
}

.heading {
  line-height: 2rem;
  font-weight: 400;
  color: var(--primary-1);
}

.heading--2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  color: var(--neutral-dark-1);
  font-size: 0.9rem;
  font-weight: 400;
}

.about__feature-container {
  margin-top: calc(1.5 * var(--default-padding));
  display: grid;
  row-gap: calc(3 * var(--default-padding));
  grid-template-columns: 1fr;
}

.about__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(0.45 * var(--default-padding));
  max-width: calc(0.25 * var(--mw));
  margin: auto;
}

.about .heading,
.about .paragraph {
  text-align: center;
}

/* ARTICLE LIST */
.article-list {
  background-color: var(--neutral-light-1);
  padding: calc(2.5 * var(--default-padding)) var(--default-padding);
}

.article-list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-container {
  display: grid;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  margin: 0 var(--default-padding);
  grid-template-columns: 1fr;
  gap: calc(1.5 * var(--default-padding));
}

.article {
  width: 90%;
  margin: auto;
  border-radius: calc(2 * var(--rounded));
  overflow: hidden;
  display: grid;
  grid-template-rows: 55% 45%;
  background-color: var(--neutral-light-2);
  height: 55vh;
  max-width: calc(0.25 * var(--mw));
}

.article > img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  grid-template-rows: 1 / 2;
}

.article > article {
  grid-template-rows: 2 / -1;
  padding: var(--default-padding) calc(0.75 * var(--default-padding));
  box-shadow: var(--shadow);
  color: var(--neutral-dark-1);
  display: grid;
}

.article small {
  font-size: 0.5rem;
  font-weight: 400;
}

.heading--3 {
  font-size: 0.95rem;
  line-height: 1rem;
}

.article .paragraph {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .about__feature-container {
    grid-template-columns: 1fr 1fr;
  }
  .about__container {
    margin: auto;
    max-width: calc(0.5 * var(--mw));
  }
  .article-container {
    grid-template-columns: 1fr 1fr;
    gap: var(--default-padding);
  }

  .article {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 1px 0.25rem rgba(0 0 0 / 0.05));
  }

  .article > article {
    padding: calc(0.5 * var(--default-padding));
    gap: calc(0.125 * var(--default-padding)) 0;
  }

  .article-list .heading--2 {
    margin-bottom: calc(2 * var(--default-padding));
  }
}

@media screen and (min-width: 1024px) {
  .about .container,
  .article-list .container {
    min-height: 60vh;
  }
  .desktop-only {
    display: block;
  }
  .nav {
    padding: 0 var(--default-padding);
    background-color: var(--neutral-light-2);
  }
  #hamburger-btn,
  #close-btn {
    display: none;
  }

  .nav-list {
    background-color: transparent;
    filter: none;
    box-shadow: none;
    transition: none;
    align-items: flex-start;
  }

  .nav-list.menu--closed,
  .nav-list.menu--open {
    display: flex;
    flex-direction: row;
    transition: none;

    position: relative;
    scale: 1;
    opacity: 1;
    z-index: 1;
    rotate: 0deg;

    height: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 0;
    width: auto;
  }

  .nav-list > li {
    font-size: 0.75rem;
    color: var(--neutral-dark-1);
    border-bottom: 3px solid transparent;
    padding: calc(0.75 * var(--default-padding)) 0;
  }

  .nav-list > li:hover {
    color: var(--primary-1);
    border-color: var(--primary-2);
  }

  .about {
    padding: calc(3 * var(--default-padding)) 0;
  }

  .about .container {
    padding: 0 calc(1.5 * var(--default-padding));
  }

  .about__container {
    margin: 0 auto 0 0;
    align-items: flex-start;
  }

  .about__feature-container {
    margin-top: 4rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(var(--default-padding) * 1.25);
    font-size: 0.75rem;
  }

  .about__feature {
    align-items: flex-start;
    gap: calc(0.5 * var(--default-padding));
  }

  .about .heading,
  .about .paragraph {
    text-align: left;
  }

  .article {
    grid-template-rows: 1fr 1fr;
    height: 50vh;
  }

  .article-container {
    grid-template-columns: repeat(4, 1fr);
    gap: calc(0.75 * var(--default-padding));
  }

  .article-list .heading--2 {
    text-align: left;
    margin-right: auto;
  }
}
