:root {
  --primary-1: hsl(233, 26%, 24%);
  --primary-2: hsl(136, 65%, 51%);
  --primary-3: hsl(192, 70%, 51%);

  --neutral-dark-1: hsl(233, 8%, 62%);
  --neutral-dark-2: hsl(220, 16%, 96%);
  --neutral-light-1: hsl(0, 0%, 98%);
  --neutral-light-2: hsl(0, 0%, 100%);
  --default-padding: 1.75rem;
  --shadow: 0 0.15rem 3rem rgba(0 0 0 / 0.15);
  --rounded: 0.25rem;
  --tr: all 0.25s linear;
  --mw: 85rem;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  list-style: none;
  border: none;
  background-color: transparent;
  font-weight: 300;
}

html {
  font-size: 112.5%; /* 1rem = 18px as per style guide */
}

/* Utilities */
.desktop-only {
  display: none;
}
.hide-el {
  position: absolute;
  z-index: -100;
  width: 0;
  height: 0;
  pointer-events: none;
  top: -1000%;
}

.container {
  width: 100%;
  max-width: var(--mw);
  margin: 0 auto;
}

/* NAVBAR SECTION -- mobile UI */

nav {
  background-color: var(--neutral-light-2);
  box-shadow: var(--shadow);
}

.nav {
  padding: calc(var(--default-padding) * 0.75) var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list {
  background-color: var(--neutral-light-2);
  box-shadow: var(--shadow);
  gap: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--tr);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -85%);
  transform-origin: top right;
  top: 50%;
  width: 100%;
}

.nav-list > li {
  color: var(--primary-1);
  font-weight: 400;
  cursor: pointer;
  transition: var(--tr);
}

.nav-list > li:hover {
  color: var(--primary-3);
}

/* styles for buttons and navbar visibility */

#hamburger-btn,
#close-btn {
  cursor: pointer;
  transition: var(--tr);
  display: block;
  transform-origin: center;
}

#hamburger-btn {
  opacity: 0.5;
  scale: 1;
}

#hamburger-btn:hover {
  opacity: 1;
  scale: 1.05;
}

#close-btn:hover {
  rotate: 360deg;
}

#close-btn.menu--open,
#hamburger-btn.menu--closed {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  pointer-events: all;
  top: unset;
  transition: all 0.25s;
}

#close-btn.menu--closed,
#hamburger-btn.menu--open {
  position: absolute;
  z-index: -100;
  width: 0;
  height: 0;
  pointer-events: none;
  top: -1000%;
  transition: all 0.25s;
}

.nav-list.menu--open {
  scale: 1;
  opacity: 1;
  z-index: 0;
  width: 70vw;
  padding: calc(1.5 * var(--default-padding));
  rotate: 0deg;
  border-radius: var(--rounded);
}

.nav-list.menu--closed {
  scale: 0;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
  top: 0;
  rotate: 90deg;
  border-radius: calc(100 * var(--rounded));
}

.cta {
  background-image: linear-gradient(
    to right,
    var(--primary-2),
    var(--primary-3)
  );
  padding: calc(0.4 * var(--default-padding)) var(--default-padding);
  border-radius: calc(10 * var(--rounded));
  color: var(--neutral-light-2);
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--tr);
}

.cta:hover {
  opacity: 0.6;
  scale: 1.05;
  box-shadow: var(--shadow);
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
  .nav {
    padding: 0 var(--default-padding);
    background-color: var(--neutral-light-2);
  }
  #hamburger-btn,
  #close-btn {
    display: none;
  }

  .nav-list {
    background-color: transparent;
    filter: none;
    box-shadow: none;
    transition: none;
    align-items: flex-start;
  }

  .nav-list.menu--closed,
  .nav-list.menu--open {
    display: flex;
    flex-direction: row;
    transition: none;

    position: relative;
    scale: 1;
    opacity: 1;
    z-index: 1;
    rotate: 0deg;

    height: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 0;
    width: auto;
  }

  .nav-list > li {
    font-size: 0.75rem;
    opacity: 0.5;
    border-bottom: 2.5px solid transparent;
    padding: var(--default-padding) 0 calc(0.5 * var(--default-padding)) 0;
  }

  .nav-list > li:hover {
    border-color: var(--primary-2);
    opacity: 1;
    color: var(--primary-1);
  }
}
